/******************* GENERAL LAYOUT *******************/

/* Sidebar styling */
li {
  font-size: 20px;
  font-weight: lighter;
}
li > a > span {
  padding-left: 5px;
}
.sidebar-menu {
  padding-left: 10px;
}
.skin-green .sidebar-menu > li > a {
  border-left: unset;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: unset;
}
#selectAllTowns{
  margin-left: 42%;
}
.form-group.shiny-input-container > div{ 
  display: inline-block;
  float: right;
  width: 80%;
}
#townSelect + .selectize-control {
  font-size: 10px;
}
#townSelect + .selectize-control > .selectize-input{
  overflow-y: scroll;
  max-height: 145px;  
}

/********** PLOTS AND DATATABLE PAGE STYLING **********/

/* Increase tab container height for plotly graph */
.tab-content {
  height: 80vh;
}
/* Allow scrolling of datatable */
.content-wrapper {
  overflow-y: scroll;
}
.dataTables_wrapper {
  overflow-x: scroll;
}
section.content{
  padding: 0 20px 0 20px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/********** CUSTOM STYLING FOR PAGE ELEMENTS **********/

/* Button styling for green theme */
.btn-default {
  color: #fff;
  background-color: #00a65a;
  border-color: #00a65a;
}
.btn-default:active, .btn-default:hover, .btn-default:focus {
  color: #fff;
  background-color: #008d4c;
  border-color: #008d4c;
}
/* Button for downloading movie data */
.btn-download {
  margin-bottom: 15px;
}
/* Position button within datatable only for big screens */
@media (min-width: 767px){
  .btn-download {
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 1;
  }
}
/* Custom styling/position of notifications */
#shiny-notification-panel {
  /*width: 300px;*/
  right: unset;
  left: 1px;
}
.shiny-notification-message {
  color: #008d4c; 
  background-color: #d9f7dd;
  border: 1px solid #bcf1c0;
}

/********** RESPONSIVE LAYOUT FOR MOBILE DEVICES **********/

@media (max-width: 767px){

  /* improve header/navbar compactness */
  .main-header span {
     margin-left: 20px;
  }
  .main-header .navbar {
    position: absolute;
    top: 0px;
    margin-left: unset;
    width: 42px;
  }

  /* improve sidebar compactness */
  .left-side, .main-sidebar {
    padding-top: 50px;
  }

  /* smaller tabs on plots page */
  ul.nav-tabs > li > a {
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
  }

  /* no container padding on datatables page */
  section.content {
    padding-left: 5px;
    padding-right: 5px;
  }
  .container-fluid, .container-fluid > .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* relative positioned, right-aligned download link */
  .btn-download {
    text-align: right;
    margin-right: 5px;
  }
}